<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Pencatatan Pemasukan LOSIK Carwash</h1>
    <h2>Silakan Pilih Menu</h2>
    <ul><a href="/tambahlayanan" title="">Tambah Layanan</a></ul>
    <ul><a href="/tambahpaket" title="">Tambah Paket Layanan</a></ul>
    <ul><a href="/createdata" title="">Tambah Pemesanan</a></ul>
    <ul><a href="/tampillayanan" title="">Daftar Layanan</a></ul>
    <ul><a href="/tampilpaket" title="">Daftar Paket Layanan</a></ul>
    <ul><a href="/index" title="">Daftar Pemesanan</a></ul>
</body>
</html>